{% extends 'base.html.twig' %}
{% block body %}
    <h1>bienvenue dans ce blog !</h1>
    <p>
        Des feux des forêts primaires amazoniennes et africaines aux révoltes sociales de celles et ceux laissés pour compte
        dans nos sociétés modernes, tout est dorénavant lié par une mondialisation non maitrisée. Qu’elles soient sociales,
        environnementales ou économiques, à ce jour, les causes et conséquences ne sont traitées, ni par des actions spécifiques
        transversales, ni par une approche globale et cohérente !
    </p>
    <p>
        Des feux des forêts primaires amazoniennes et africaines aux révoltes sociales de celles et ceux laissés pour compte
        dans nos sociétés modernes, tout est dorénavant lié par une mondialisation non maitrisée. Qu’elles soient sociales,
        environnementales ou économiques, à ce jour, les causes et conséquences ne sont traitées, ni par des actions spécifiques
        transversales, ni par une approche globale et cohérente !
    </p>

{% endblock %}